.ui.card, .ui.card > :first-child, .ui.vertical.menu .item {
  border-radius: 0 !important;
}

.ui.card {
  margin-bottom: 2rem !important;
}

.ui.vertical.menu .active.item {
  background-color: #000;
  color: #fff;
}

.ml-10 {
  margin-left: 10px !important;
}
