body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

.track-cover {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.playlist-cover {
  width: 100%;
  padding: 2rem 0 1rem 0;
  background-size: cover;
  background-position: center;
  height: 220px;
}

.player {
  margin-top: 40px;
}

.player > .player__control {
  margin-left: 30px;
}

.archive {
  padding-top: 2rem;
  text-align: center;
}

.archive__header {
  color: white;
  width: fit-content;
  background-color: black;
  margin-bottom: 2rem;
}

.archive-item {
  height: 200px;
  width: 200px;
}

.ui.image.archive-item__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ui.divided.selection.relaxed.middle.aligned.list > .item {
  padding: 0;
}

.ui.fluid.card, .ui.fluid.card >:first-child {
  border-radius: 0;
}

@media only screen and (max-width: 767px) {
  .ui.stackable.grid > .column:not(.row) {
    padding: 0 !important;
  }
}
