body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

.main-header {
  color: white;
  width: fit-content;
  background-color: black;
  margin-bottom: 20px;
}

.track-cover {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.playlist {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.playlist__cover {
  width: 100%;
  padding: 20px 0 10px 0;
  background-size: cover;
  background-position: center;
  height: 220px;
}

.playlist__tracks {
  overflow-y: scroll;
}

.player {
  margin-top: 40px;
}

.player > .player__control {
  margin-left: 20px;
}

.archive {
  padding-top: 20px;
  text-align: center;
}

.archive__column {
  min-width: 220px;
}

.archive-item {
  height: 200px;
  width: 200px;
}

.ui.image.archive-item__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ui.divided.selection.relaxed.middle.aligned.list > .item {
  padding: 0;
}

.ui.grid >.column:not(.row) {
  padding-bottom: 0;
}

.ui.fluid.card,
.ui.fluid.card >:first-child,
.ui.fluid.card >:last-child  {
  border-radius: 0 !important;
}

@media only screen and (max-width: 767px) {
  .ui.stackable.grid > .column:not(.row) {
    padding: 0 !important;
  }
}
